<div class="content-i">
            <div class="content-box"><div class="row">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-box">
        <form class="form-material"   role="form" id="form1" method="post" action="{:url('index/page_information')}" >
          <h5 class="form-header">
            站点页面信息
          </h5>
          <div class="form-desc">
            尽量在5分钟内填写完毕提交. 
          </div>
          
          
 <button class="mr-2 mb-2 btn btn-primary" data-target="#onboardingTextModal" data-toggle="modal" type="button" id="buttonid" style="display:none;">Modal with text only</button>
          
       <div aria-hidden="true" class="onboarding-modal modal fade animated" id="onboardingTextModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-centered" role="document">
          <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">关闭</span><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-media">
              <img alt="" src="/public/static/v4/img/bigicon2.png" width="200px">
            </div>
            <div class="onboarding-content with-gradient">
              <h4 class="onboarding-title">
                出于安全原因,本次会话已超时！
              </h4>
              <div class="onboarding-text">
                请刷新页面后重新填写提交！
              </div>
            </div>
          </div>
        </div>
      </div>
   
                    
         <div class="form-group">
            <label for=""> 副标题</label><input class="form-control" data-error="请输入副标题" placeholder="请输入副标题" value="{:advert('50')}"   name="app_index_subtitle" required="required" type="text">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
          
          
          
          <fieldset class="form-group">
            <legend><span>PC Information</span></legend>
  
         <div class="form-group">
            <label for=""> LOGO</label><input class="form-control" data-error="请输入LOGO图片地址" placeholder="Enter Url" value="{:advert('46')}"   name="app_index_logo" required="required" type="text">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
          

			<div class="form-group">
            <label for=""> 简介</label><input class="form-control" data-error="请输入简介" placeholder="请输入简介"  type="text" value="{:advert('31')}"  name="app_index_content">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
			<div class="form-group">
            <label for=""> 右侧图片</label><input class="form-control" data-error="请输入首页右侧图片地址" placeholder="请输入首页右侧图片地址" required="required" type="text" value="{:advert('32')}"  name="app_index_img">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
          <div class="form-group">
            <label for=""> 固定</label><input class="form-control" data-error="请输入滚动关键词" placeholder="请输入滚动关键词" required="required" type="text" value="{:advert('40')}"  name="app_index_keywords">
            <div class="help-block form-text with-errors form-control-feedback">滚动关键词前的固定字符</div>
          </div>

            <div class="form-group">
              <label> 滚动显示关键词</label><textarea class="form-control" rows="2"   name="app_index_scrolling_keywords">{:advert('33')}</textarea>
              <div class="help-block form-text with-errors form-control-feedback">多个关键词用 , 隔开</div>
            </div>


          </fieldset>
          

          <fieldset class="form-group">
            <legend><span>WAP Information</span></legend>
            

			<div class="form-group">
            <label for=""> LOGO</label><input class="form-control" data-error="请输入移动端LOGO地址" placeholder="Enter Url"  type="text" value="{:advert('51')}"  name="app_wap_logo">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>


			<div class="form-group">
            <label for=""> 手机模型背景</label><input class="form-control" data-error="请输入手机模型背景图片地址" placeholder="Enter Url"  type="text" value="{:advert('52')}"  name="app_wap_phone">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>


			<div class="form-group">
            <label for=""> 下载次数</label><input class="form-control" data-error="请输入下载次数" placeholder="Enter Num"  type="text" value="{:advert('62')}"  name="app_wap_down_num">
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>

            <br>
            
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label > 海报 ①</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('53')}"  name="app_wap_poster_one" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label > 背景 ①</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('63')}"  name="app_wap_background_one" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >标题 ①</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('54')}"  name="app_wap_title_one" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >小标题 ①</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('55')}"  name="app_wap_subtitle_one" >
              </div>
            </div>
          </div>      
            
            <br>
            
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label > 海报 ②</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('56')}"  name="app_wap_poster_two" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label > 背景 ②</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('64')}"  name="app_wap_background_two" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >标题 ②</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('57')}"  name="app_wap_title_two" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >小标题 ②</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('58')}"  name="app_wap_subtitle_two" >
              </div>
            </div>
          </div>      
            
            <br>
            
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label > 海报 ③</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('59')}"  name="app_wap_poster_three" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label > 背景 ③</label><input class="form-control"  placeholder="Confirm Url" required="required" type="text"  value="{:advert('65')}"  name="app_wap_background_three" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >标题 ③</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('60')}"  name="app_wap_title_three" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label >小标题 ③</label><input class="form-control" placeholder="Confirm Title" required="required"  type="text"  value="{:advert('61')}"  name="app_wap_subtitle_three" >
              </div>
            </div>
          </div>      
            
            

          </fieldset>

          <div class="form-buttons-w">
            <input type="hidden" name="Ryan_time"  id="Ryan_time"   value="{$Ryan_time}" ><input type="hidden" name="Ryan_key"  id="Ryan_key"   value="{$Ryan_key}" >
            <button class="btn btn-primary disabled" type="submit"> 确认</button><span id="timer" style=" margin-left: 10px; color: #999; font-size: 10px; "></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
            </div>
            <!--------------------
            START - Sidebar
            -------------------->
            <div class="content-panel">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div><!--------------------
START - Support Agents
-------------------->
<div class="element-wrapper">
  <h6 class="element-header">
    管理员
  </h6>
  <div class="element-box-tp">
    
{volist name="admin_list" id="vo"} 
    <div class="profile-tile">
      <a class="profile-tile-box" >
        <div class="pt-avatar-w">
          <img alt="" src="/public/static/v4/img/Ryan.png">
        </div>
        <div class="pt-user-name">
         <?php   echo  substr_replace($vo['username'],'****',3,4); ?>
        </div>
      </a>
      <div class="profile-tile-meta">
        <ul>
          <li>
            最近登录时间：<strong><?php echo  date('Y-m-d H:i:s',$vo['logintime']); ?></strong>
          </li>
          <li>
            登录次数：<strong><?php echo  $vo['count']  ?> 次</strong>
          </li>
          <li>
            微信：<strong><?php   echo  $vo['weichat'] ?></strong> 
          </li>
        </ul>
        <div class="pt-btn">
          <a class="btn btn-secondary btn-sm" href="#"><?php   echo  $vo['Source'] ?></a>
        </div>
      </div>
    </div>
{/volist} 
    

  </div>
</div>

          </div>
  
  <script type="text/javascript">

  var maxtime = 5*60; //  

            function CountDown() {

                if (maxtime >= 0) {

                    minutes = Math.floor(maxtime / 60);

                    seconds = Math.floor(maxtime % 60);

                    msg = "离本次会话超时还剩" + minutes + "分" + seconds + "秒";

                    document.all["timer"].innerHTML = msg;

               //   if (maxtime == 2) document.all["timer"].innerHTML = '';
						
                        --maxtime;

                } else{

                    clearInterval(timer);

                     document.all["timer"].innerHTML = '出于安全原因,本次会话已超时！ 请刷新页面后重新填写！';
               		 document.getElementById("buttonid").click();

                }

            }

            timer = setInterval("CountDown()", 1000);     

 </script>