
<div class="content-i">
            <div class="content-box">   
              <div class="row">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-box">
        <form class="form-material"   role="form" id="form1" method="post" action="{:url('index/price_edit')}" >

          <h5 class="form-header">
            价格 / 发卡 编辑
          </h5>
         
          
          
          
          <div class="form-desc">
            尽量在5分钟内填写完毕提交. 
          </div>
          
          
 	<button class="mr-2 mb-2 btn btn-primary" data-target="#onboardingTextModal" data-toggle="modal" type="button" id="buttonid" style="display:none;">Modal with text only</button>
          
       <div aria-hidden="true" class="onboarding-modal modal fade animated" id="onboardingTextModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-centered" role="document">
          <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">关闭</span><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-media">
              <img alt="" src="/public/static/v4/img/bigicon2.png" width="200px">
            </div>
            <div class="onboarding-content with-gradient">
              <h4 class="onboarding-title">
                出于安全原因,本次会话已超时！
              </h4>
              <div class="onboarding-text">
                请刷新页面后重新填写提交！
              </div>
            </div>
          </div>
        </div>
      </div>

        
       <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <div class="value-pair">
              <div class="label">
                编辑类型:
              </div>
              <div class="value badge badge-pill badge-primary">
                {$cdkey_type_name}
              </div>
            </div>
          </div>

        </div>
      </div>     
     
          
          
          
         <div class="form-group">
            <input class="form-control" placeholder="自定义会员类型名称" required="required" type="text"  name="name"   value="{$cdkey_type_data['name']}" >
          </div>

         <div class="form-group">
            <input class="form-control" placeholder="显示价格" required="required" type="text"  name="cost_price"  value="{$cdkey_type_data['cost_price']}"  >
          </div>

         <div class="form-group">
            <input class="form-control" placeholder="简介" required="required" type="text"  name="content"  value="{$cdkey_type_data['content']}" >
          </div>
  
         <div class="form-group">
           <input class="form-control"  placeholder="购买地址" required="required" type="text"  name="gokaurl"  value="{$cdkey_type_data['gokaurl']}" >
            <div class="help-block form-text text-muted form-control-feedback">http:// 或 https://</div>
          </div>




          <div class="form-buttons-w">
            <input type="hidden" name="Ryan_time"  id="Ryan_time"   value="{$Ryan_time}" >
            <input type="hidden" name="Ryan_key"  id="Ryan_key"   value="{$Ryan_key}" >
            <input type="hidden" name="id"  id="id"   value="{$cdkey_type_data['id']}" >
            <button class="btn btn-primary disabled" type="submit"> 确认</button><span id="timer" style=" margin-left: 10px; color: #999; font-size: 10px; "></span>
          </div>

          
          
          
          

        </form>
      </div>
    </div>
  </div>
</div>
            </div>
            <!--------------------
            START - Sidebar
            -------------------->
            <div class="content-panel">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div>
<!--------------------
START - Support Agents
-------------------->
<div class="element-wrapper">
  <h6 class="element-header">
    管理员
  </h6>
  <div class="element-box-tp">
    
{volist name="admin_list" id="vo"} 
    <div class="profile-tile">
      <a class="profile-tile-box" >
        <div class="pt-avatar-w">
          <img alt="" src="/public/static/v4/img/Ryan.png">
        </div>
        <div class="pt-user-name">
         <?php   echo  substr_replace($vo['username'],'****',3,4); ?>
        </div>
      </a>
      <div class="profile-tile-meta">
        <ul>
          <li>
            最近登录时间：<strong><?php echo  date('Y-m-d H:i:s',$vo['logintime']); ?></strong>
          </li>
          <li>
            登录次数：<strong><?php echo  $vo['count']  ?> 次</strong>
          </li>
          <li>
            微信：<strong><?php   echo  $vo['weichat'] ?></strong> 
          </li>
        </ul>
        <div class="pt-btn">
          <a class="btn btn-secondary btn-sm" href="#"><?php   echo  $vo['Source'] ?></a>
        </div>
      </div>
    </div>
{/volist} 
    

  </div>
</div>

          </div>
  
  <script type="text/javascript">

  var maxtime = 5*60; //  

            function CountDown() {

                if (maxtime >= 0) {

                    minutes = Math.floor(maxtime / 60);

                    seconds = Math.floor(maxtime % 60);

                    msg = "离本次会话超时还剩" + minutes + "分" + seconds + "秒";

                    document.all["timer"].innerHTML = msg;

               //   if (maxtime == 2) document.all["timer"].innerHTML = '';
						
                        --maxtime;

                } else{

                    clearInterval(timer);

                     document.all["timer"].innerHTML = '出于安全原因,本次会话已超时！ 请刷新页面后重新填写！';
               		 document.getElementById("buttonid").click();

                }

            }

            timer = setInterval("CountDown()", 1000);     

 </script>